<h1> New Player Form </h1>

<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :team %>
  <%= f.text_field :team %>
  <%= f.label :jersey %>
  <%= f.number_field :jersey %>
  <%= f.submit %>
<% end %>
