<h1><%= @player.name %> Player Page</h1>

Age: <%= @player.age %><br>
Team: <%= @player.team %><br>
Jersey #: <%= @player.jersey %><br>

<% @player.boxscores.each do |boxscore| %>
  Boxscore: <%= link_to boxscore.game_info(boxscore.game), boxscore  %><br>
<% end %>
